@page "/"
@using TaskBoard.Web.UIComponents

<PageTitle>Home</PageTitle>

<h1>TaskBoard - My portfolio project</h1>

<br />
<h4>"How to get started"-Guide here</h4>

<br />
<h4>Documentation here maybe</h4>

<TaskCard></TaskCard>